<%= turbo_stream.append "posts" do %>
  <%= render partial: "post", collection: @posts %>
<% end %>


<%= turbo_stream.replace "load-more" do %>
  <% if @pagy.next %>

    <div id="load-more">
      <%= link_to "Load more",
          posts_path(page: @pagy.next),
          data: { turbo_stream: true },
          class: "text-white bg-blue-700 rounded-lg px-5 py-2.5" %>
    </div>

  <% else %>

    <div id="load-more"></div>

  <% end %>
<% end %>


<%= turbo_stream.update "loader", "" %>